{
  "GlobalCurrencyName": "Gold",
  "TreasuryAccountName": "",
  "NewPlayerGiftAmount": 500,
  "TreasuryInitialBalance": 1000000,
  "WelcomePanelTitle": "Welcome!",
  "WelcomePanelBody": "You have been given $Amount Gold to get started!"
}
